<div class="container-fluid footer">
  <div class="footer">
    <div class="border-footer">

    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <%= image_tag("logo.png", class: "logo footer")%>
        </div>
        <div class="col-sm-6">
          <div class="block-title">
            <span>về chúng tôi</span>
            <br><br>
            • Giấy phép thiết lập Mạng xã hội số 569/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp.
            Trụ sở: 179 Đường Nguyễn Đình Chính, Phường 11, Quận PN, TP.HCM
            <br>
            Liên hệ: <a href="">hieuld@applancer.net - Tel: 028 6264 5022</a>
          </div>
        </div>
        <div class="col-sm-3">
          <span>THEO CHÚNG TÔI</span>
        </div>
      </div>
    </div>
  </div>
</div>
